<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
    
  <ul style="list-style: none;">
      <li><a href="http://www.railstutorial.org/book">Book</a> and</li>
      
      <li><a href="http://screencasts.railstutorial.org/">Screencast Series</a> with a </li>
      
      <li>Ruby on Rails <a href="http://rubyonrails.org/">Sample Application</a></li>
  
  </ul>
</p>
